<h1><%= @sandwich.name %></h1>
<div>
<%= render :partial => "user_feedbacks/favorite" %>
</div>
<h3>Bread: <%= @sandwich.bread.name %></h3>



<h3>Spread:</h3>
<ul>
<% @sandwich.spreads.each do |spread| %>
  <li><%= spread.name %></li>
  <% end %>
</ul>

<% if current_user.id == @sandwich.user_id%>
  <%= link_to "Edit", edit_sandwich_path %>
  <%= link_to "Delete", sandwich_path, method: :delete %>
<% end %>

<hr>
<div>
  <%= render :partial => "user_feedbacks/new" %>
</div>

<div>
  <hr>
  <ul style="overflow-y: scroll; height:200px;">
    <% @feedback.each do |feedback| %>
      <% if feedback.comment != nil %>
        <li>
           <div class="review-rating" data-score = "<%= feedback.rating %>"></div>
           "<%= feedback.comment %>" by <%= feedback.user.user_name %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <hr>
</div>


<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
