<h1><%= @sandwich.name %></h1>

<h3>Bread: <%= @sandwich.bread.name %></h3>
<h3>Spread:</h3>
<ul>
<% @sandwich.spreads.each do |spread| %>
  <li><%= spread.name %></li>
  <% end %>
</ul>

<%= link_to "Edit", edit_sandwich_path %>
<div>
  <h3>Comments</h3>
  <hr>
  <ul>
  <% @feedback.each do |feedback| %>
  <li>
  <%= feedback.comment %>
  Rating: <%= feedback.rating %>
  <%= feedback.user.user_name %>
  <% end %>
  </li>
  </ul>
</div>
<div>
  <h1>Make a comment</h1>
  <%= form_for @sandwich do |f| %>
    <%= f.submit %>
  <% end %>
</div>
