<h1><%= @sandwich.name %></h1>


<!-- Like Button -->

<% pre_like = @sandwich.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', sandwich_like_path(@sandwich), method: :delete %>
<% else %>
  <%= button_to 'Like', sandwich_likes_path(@sandwich), method: :post %>
<% end %>

<p><%= @sandwich.likes.count %> <%= (@sandwich.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<!-- Sandwich Image -->
<% if @sandwich.image.attachment != nil %>
  <%= image_tag @sandwich.image, class: 'main-image', :style => "border: 1px solid #ddd;
    border-radius: 25%;
    padding: 5px;
    width: 150px;" %>
<% end %>
<hr>


<!-- User Section -->
<% if current_user.id == @sandwich.user_id%>
  <%= link_to "Edit", edit_sandwich_path %> | <%= link_to "Delete", sandwich_path, method: :delete %>
<% end %>
<h6>Created by: <%= link_to @sandwich.user.user_name, user_path(@sandwich.user) %></h6>
<hr>


<!-- Bread Information -->
<h2>Bread:</h2>
  <p><%= @sandwich.bread.name %></p>

<h2>Spread:</h2>
<ul>
<% @sandwich.spreads.each do |spread| %>
  <li><%= spread.name %></li>
  <% end %>
</ul>

<!-- New Review Form -->
<hr>
<div>
  <%= render :partial => "user_feedbacks/new" %>
</div>

<!-- Show Reviews -->
<div>
  <hr>
  <ul style="overflow-y: scroll; height:200px;">
    <% @feedback.each do |feedback| %>
      <% if feedback.comment != nil %>
        <li>
           <div class="review-rating" data-score = "<%= feedback.rating %>"></div>
           "<%= feedback.comment %>" by <%= link_to feedback.user.user_name, user_path(feedback.user) %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <hr>
</div>

<!-- Script For Star Rating -->
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
