<h1>Add Review</h1>

<!-- Shows any error messages -->
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <li style=" color: red;"><%= error %></li>
    <% end %>
<% end %>


<!-- New Review Form -->
<%= form_for @user_feedback do |f| %>

  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= f.hidden_field :sandwich_id, value: @sandwich.id %>

  <div id="rating-form">
    <label>Rating</label>
  </div>

  <p><%= f.label :comment %>
  <%= f.text_area :comment %></p>

  <p><%= f.submit "Submit",class: "button"%></p>

<% end %>

<!-- JS script for Raty -->
<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'user_feedback[rating]'
  });
</script>
