<h1>Add Comment:</h1>

<%= form_for @user_feedback do |f| %>

  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= f.hidden_field :sandwich_id, value: @sandwich.id %>

  <p>
  <%= f.text_area :comment %></p>

  <p><%= f.submit "Submit" %></p>

<% end %>
