<h1>Hello, <%= @current_user.first_name %> <%= @current_user.last_name %></h1>

<div class="user-page">
  <div class="actions">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true">Your Sandwiches</a>
      <a class="nav-link" data-toggle="pill" href="#v-pills-favorites" role="tab">Favorites</a>
      <a class="nav-link" data-toggle="pill" href="#v-pills-comments" role="tab">Comments</a>
    </div>
  </div>
  <div class="details tab-content">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <div class="good">
        <h5>Good:</h5>
          <ul>
            <% good = [] %>
          <% @current_user.sandwiches.each do |sandwich| %>
            <% if sandwich.delicious == true %>
              <% good << sandwich %>
              <li><%= link_to sandwich.name, sandwich_path(sandwich) %></li>
            <% end %>
          <% end %>
          <% if good.blank?  %>
            <li>None</li>
          <% end %>
        </ul>
      </div>

      <div class="bad">
        <h5>Bad:</h5>
          <ul>
            <% bad = [] %>
          <% @current_user.sandwiches.each do |sandwich| %>
            <% if sandwich.delicious == false %>
              <% bad << sandwich %>
              <li><%= link_to sandwich.name, sandwich_path(sandwich) %></li>
            <% end %>
          <% end %>
          <% if bad.blank?  %>
            <li>None</li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="tab-pane fade show " id="v-pills-favorites" role="tabpanel" aria-labelledby="v-pills-favorites-tab">
      <p>FAVORITES GO HERE</p>
    </div>

    <div class="tab-pane fade show " id="v-pills-comments" role="tabpanel" aria-labelledby="v-pills-comments-tab" style="overflow-y: scroll; height:400px;">
      <ol>
        <% @current_user.user_feedbacks.each do |feedback| %>
          <li>Comment: <%= feedback.comment %> Rating: <%= feedback.rating %> <br> Sandwich: <%= feedback.sandwich.name %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
