<!DOCTYPE html>
<html>
  <head>
    <title>The Jelly Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar-light bg-light d-flex">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">The Jelly Club</a>
      </div>
      <% if logged_in? %>
      <div class="nav navbar-nav">
        <div class="active" style="padding: 20px;"><a href="/users/">Home</a></div>
        <div class="dropdown" style="padding: 20px;"><a class="dropdown-toggle" data-toggle="dropdown" href="/breads">Breads <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "New Bread", new_bread_path %></li>
            <li><%= link_to "All Breads", breads_path %></li>
            <% Bread.all.each do |bread| %>
            <li><%= link_to bread.name, bread_path(bread) %></li>
            <% end %>
          </ul>
        </div>
        <div class="dropdown" style="padding: 20px;"><a class="dropdown-toggle" data-toggle="dropdown" href="/spreads">Spreads <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "New Spread", new_spread_path %></li>
            <li><%= link_to "All Spreads", spreads_path %></li>
            <% Spread.all.each do |spread| %>
            <li><%= link_to spread.name, spread_path(spread) %></li>
            <% end %>
          </ul>
        </div>
        <div class="dropdown" style="padding: 20px;"><a class="dropdown-toggle" data-toggle="dropdown" href="/sandwiches">Sandwiches <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Make a Sandwich", new_sandwich_path %></li>
            <li><%= link_to "All Sandwiches", sandwiches_path %></li>
          </ul>
        </div>
        <div style="padding: 20px">
          <%= link_to @current_user.user_name, user_path(@current_user) %>
          <%= link_to "Logout", logout_path, method: "delete", class: "glyphicon glyphicon-log-out" %>
      </div>
        <% end %>
      <div class="nav navbar-nav navbar-right">
        <% if !logged_in? %>
          <div style="padding: 20px"><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></div>
          <div style="padding: 20px"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></div>
        <% end %>
      </div>
    </div>
  </nav>

    <main class = "main body">
      <%= yield %>
    </main>

  <footer><div class="footer">
      FOOTER
    </div></footer>
  </body>
</html>
