<!DOCTYPE html>
<html>
  <head>
    <title>The Jelly Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">The Jelly Club</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<!-- Sandwich Options Viewable To Members Only -->
      <% if logged_in? %>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= users_path %>">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="/breads" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Breads
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="<%= new_bread_path %>">New Bread</a>
             <a class="dropdown-item" href="<%= breads_path %>">All Breads</a>
           </div>
         </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/spreads" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Spreads
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= new_spread_path %>">New Spread</a>
            <a class="dropdown-item" href="<%= spreads_path %>">All Spreads</a>
          </div>
        </li>

        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="/sandwiches" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Sandwiches
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="<%= new_sandwich_path %>">New Sandwich</a>
           <a class="dropdown-item" href="<%= sandwiches_path %>">All Sandwiches</a>
         </div>
       </li>
        </ul>
<!-- User Section -->
        <ul>
        <div class="d-flex flex-row-reverse bd-highlight">
          <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="/breads" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <%= @current_user.user_name %>
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="<%= user_path(@current_user) %>">View Profile</a>
             <a class="dropdown-item" href="<%= edit_user_path(@current_user.id) %>">Edit Account</a>
             <%= link_to "Logout", logout_path, method: "delete", class: "dropdown-item"  %>
           </div>
         </li>
       </ul>
        <% end %>

        <% if !logged_in? %>
          <div class="p-2 bd-highlight"><a href="/users/new">Sign Up</a></div>
          <div class="p-2 bd-highlight"><a href="/login">Login </a></div>
        <% end %>
        </div>
      </div>
    </nav>

    <main class = "main body">
      <%= yield %>
    </main>

  <footer><div class="footer">
      Website created by Elizabeth Le and Mohammed Ali
    </div></footer>
  </body>
</html>
